name: ci.yml
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  exemple-jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "tmurin"
          java-version: "17"
          cache: 'meven'
      - name: Build with Maven
        run: mvn -B clean package
      - name: Upload JAR artifica
        uses: actions/upload-artifact@v3
        with:
          name: spring-boot-jar
          path: target/*.jar

